.header {
    text-align: center;
}

h3 {
    border-bottom: 3px dotted black;
    margin: 20px 500px;
}
#me {
    height: 450px;
    width: auto;
}

.list {
    text-align: center;
}

.links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.links button {
    margin: 3px 600px;
}